<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%green(%d{HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %yellow([%-4relative]) %cyan(%logger{36}) %gray([%file:%line]) %blue(%msg%n)</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%-4relative] %logger{36} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/auth.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
<!--
        <filter class="com.onefactor.trackviewer.web.PartitionsLogFilter"/>
-->
    </appender>

    <logger name="akka" level="INFO" />
    <logger name="org.spark_project" level="WARN" />
    <logger name="org.apache" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>